@page
@using Newtonsoft.Json
@model Areas.Administrator.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">داشبورد گزارشات</h4>
    </div>
</div>